:root {
  --primary: #24ABF2;
  --primary-alt: #0088D2;
  --secondary: #F26B24;
  --background: #121212;
  --background-alt: #0D0D0D;
  --surface: #1E1E1E;
  --light-bg: #272727; 
  --text: #FFFFFF;
  --text-secondary: #d1d1d1;
  --blue-gray-dark: rgba(148, 191, 255, 0.418);
  --blue-gray-light: rgba(148, 191, 255, 0.63);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex: 1;
  background: var(--background);
  overflow: hidden;
}

.content-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

/* Additional styles to showcase the new color scheme */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary);
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.heading {
  color: var(--text);
  border-bottom: 2px solid var(--primary);
  padding-bottom: .5rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow .2s ease;
}

.btn-primary:hover {
  box-shadow: 0 0 10px var(--primary)
}

.btn-secondary {
  background-color: var(--text);
  color: var(--background);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow .2s ease;
}

.btn-secondary:hover {
  box-shadow: 0 0 10px var(--text)
}

.surface {
  background-color: var(--surface);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text-secondary {
  color: var(--text-secondary);
}